{% extends 'index.html' %}


{% block contenido %}
    

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Pagina principal</a>
    <a class="breadcrumb-item" href="{% url 'proyectos:proyectos' %}">Menu proyectos</a>
    <span class="breadcrumb-item active">Consulta</span>
</nav>
    
<br>
<h1>Proyecto a detalle</h1>
<br>

<h4>Nombre del proyecto:</h4>
<p>{{proyecto.nombreDelProyecto}}</p>
<br>

<h4>Tipo de proyecto:</h4>
<p>{{proyecto.tipo}}</p>
<br>

<h4>Ubicacion del proyecto:</h4>
<a href="{{proyecto.ubicacion}}">{{proyecto.ubicacion}}</a>
<br>
<br>

<h4>Dispositivo:</h4>
<p>{{proyecto.dispositivo}}</p>
<br>

<h4>Caracteristicas:</h4>
<p>{{proyecto.caracteristicas}}</p>
<br>

<h4>Tope presupuestal:</h4>
<p>{{proyecto.topePresupuestal}}</p>
<br>

<h4>Pago por bug:</h4>
<p>{{proyecto.pagoPorBug}}</p>
<br>

{% endblock contenido %}
    