{% extends 'index.html' %}

{% block contenido %}

<div class="container">
    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>Proyectos</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ab iusto temporibus distinctio quis ea sit fugiat atque provident cupiditate. Eligendi excepturi obcaecati est ducimus, quisquam beatae magni commodi aliquam!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe illum aspernatur adipisci facilis tempora magnam inventore beatae tenetur voluptas cum, magni cupiditate esse dolorum quam, nobis distinctio sunt exercitationem molestiae!
                </p>
                <p>
                    <a class="btn btn-primary" href="{% url 'proyectos:alta' %}">Dar de alta un proyecto</a>
                    <a class="btn btn-success" href="{% url 'proyectos:lista' %}">Ver tus proyectos</a>
                </p>
            </div>
        </div>
    </main>
</div>
{% endblock contenido %}