{% extends 'index.html' %}

{% block contenido %}
<nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Pagina principal</a>
        <a class="breadcrumb-item" href="{% url 'proyectos:proyectos' %}">Menu proyectos</a>
        <a class="breadcrumb-item" href="{% url 'proyectos:lista' %}">Lista de proyectos</a>
        <span class="breadcrumb-item active">Modificar</span>
    </nav>
<br>
<div>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        
        {% for hidden in form.hidden_fields %}
            {{hidden}}
        {% endfor %}
        
            <div class="form-group">
                <label for="{{form.ubicacion.id_for_label}}" class="col-sm-2 control-label">{{form.ubicacion.label}}</label>
                <div class="col-sm-8">
                    {{form.ubicacion}}
                </div>
            </div>

            <div class="form-group">
                <label for="{{form.caracteristicas.id_for_label}}" class="col-sm-2 control-label">{{form.caracteristicas.label}}</label>
                <div class="col-sm-8">
                    {{form.caracteristicas}}
                </div>
            </div>

            <div class="form-group">
                <label for="{{form.pagoPorBug.id_for_label}}" class="col-sm-2 control-label">{{form.pagoPorBug.label}}</label>
                <div class="col-sm-8">
                    {{form.pagoPorBug}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-ofset-2 col-sm-8">
                    <input class="btn btn-primary pull-right" type="submit" name="submit" value="Modificar">
                </div>
            </div>
    </form>
</div>
{% endblock contenido %}