{% extends 'index.html' %}


{% block contenido %}
    

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Pagina principal</a>
    <a class="breadcrumb-item" href="{% url 'proyectos:proyectos' %}">Menu proyectos</a>
    <span class="breadcrumb-item active">Lista de proyectos</span>
</nav>
    
<br>
<h1>Lista de proyectos</h1>
<br>

<table class="table">
    <thead>
        <th>Proyecto</th>
        <th>Tipo</th>
        <th colspan="3">Acciones</th>
    </thead>
    <tbody>
        {% for x in proyectos %}
            <tr>
                <td>{{x.nombreDelProyecto}}</td>
                <td>{{x.tipo}}</td>
                <td><a class="btn btn-secondary" href="{% url 'proyectos:consulta' x.id %}">Ver a detalle</a></td>
                <td><a class="btn btn-info" href="{% url 'proyectos:modificacion' x.id %}">Editar</a></td>
                <td><a class="btn btn-danger" href="{% url 'proyectos:eliminar' x.id %}">Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    