{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}


{% block main %}

<div class="app-title">
	<ul class="app-breadcrumb breadcrumb">
		<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
		<li class="breadcrumb-item"><span class="breadcrumb-item active">Home</span></li>
	</ul>
</div>
<div class="row">
	<div class="col-md-6 col-lg-3">
	  <div class="widget-small primary coloured-icon"><i class="icon fa fa-mobile fa-3x"></i>
		<div class="info">
		  <h4>Devices</h4>
		  <p><b>{{devices}}</b></p>
		</div>
	  </div>
	</div>
	<div class="col-md-6 col-lg-3">
	  <div class="widget-small primary coloured-icon"><i class="icon fa fa-code fa-3x"></i>
		<div class="info">
		  <h4>Projects</h4>
		  <p><b>{{projects}}</b></p>
		</div>
	  </div>
	</div>
	<div class="col-md-6 col-lg-3">
	  <div class="widget-small primary coloured-icon"><i class="icon fa fa-tasks fa-3x"></i>
		<div class="info">
		  <h4>Tests</h4>
		  <p><b>10</b></p>
		</div>
	  </div>
	</div>
	<div class="col-md-6 col-lg-3">
	  <div class="widget-small primary coloured-icon"><i class="icon fa fa-bug fa-3x"></i>
		<div class="info">
		  <h4>Bugs</h4>
		  <p><b>500</b></p>
		</div>
	  </div>
	</div>
  </div>

<div id="wrapper">

	<header id="header">
		<div id="logo">
			<span style="float: right;">
				{% if user.is_authenticated %}
				Hello, {{ user.username }}!!.
				<a href="{% url 'logout' %}">logout</a>.
				{% else %}
				<p>You are not logged in</p>
				<a href="{% url 'login' %}">Log in</a>.
				{% endif %}
			</span>
		</div>
	</header>

</div>

{% endblock %}