{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}


{% block main %}

<div class="app-title">
	<ul class="app-breadcrumb breadcrumb">
		<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
		<li class="breadcrumb-item"><span class="breadcrumb-item active">Home</span></li>
	</ul>
</div>

<h1> HomePage </h1>

<div id="wrapper">

	<header id="header">
		<div id="logo">
			<span style="float: right;">
				{% if user.is_authenticated %}
				Hello, {{ user.username }}!!.
				<a href="{% url 'logout' %}">logout</a>.
				{% else %}
				<p>You are not logged in</p>
				<a href="{% url 'login' %}">Log in</a>.
				{% endif %}
			</span>
		</div>
	</header>

	<aside id="leftsidebar">
		<nav id="nav">
			<ul>

				<li><a href="/">Home</a></li>
				{% block sidenav %}
				{% if user.is_authenticated %}
				<li><a href="{% url 'usersapp:user_profile' user.username %}">Profile</a></li>
				{% endif %}
				{% endblock %}
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</nav>
	</aside>

	<section id="main">
		{% block content %}
		<h1>Welcome!</h1>
		<p>This is the site template</p>
		{% endblock %}
	</section>

	<footer id="footer">Copyright &copy; 2017 TestBridge</footer>

</div>

{% endblock %}