
{% extends 'TestBridgeApp/start.html' %}

{% block main %}
<div class="line-headDown">
    <div id="videoDiv">
        <div id="video">           
          <img class="img-fluid rounded" src="../../static/images/business.jpg">
        </div>
        <div id="messageBox"> 
            <div >
                <div>
                    <h1 class="hvd text-center">Resources</h1>
                    <h1 class="hvd2 text-center">Explore our ever-expanding ecosystem of free software testing resources from </h1> 
                    <h1 class="hvd2 text-center">in-depth ebooks to actionable monthly webinars and more!</h1>
                </div>
            </div>
        </div>   
  </div>
    
</div>
<div class="container line-headUp line">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item line-headDown">
          <div class="card h-100">
            <a href="/resources"><img class="card-img-top" src="../../static/images/learn.svg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Testing Fundamentals</a>
              </h4>
              <p class="card-text">Website testing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item line-headDown">
          <div class="card h-100">
            <a href="/resources"><img class="card-img-top" src="../../static/images/learn.svg"></a>
            <div class="card-body">
              <h4 class="card-title">
                  <a href="#">Testing Fundamentals</a>
                </h4>
              <p class="card-text">Mobile testing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item line-headDown">
          <div class="card h-100">
            <a href="/resources"><img class="card-img-top" src="../../static/images/learn.svg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Testing Fundamentals</a>
              </h4>
              <p class="card-text">Functional testing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item line-headDown">
          <div class="card h-100">
            <a href="/resources"><img class="card-img-top" src="../../static/images/learn.svg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Testing Fundamentals</a>
              </h4>
              <p class="card-text">Regression testing</p>
            </div>
          </div>
        </div>



        
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item line-headDown">
          <div class="card h-100">
            <a href="/resources"><img class="card-img-top" src="../../static/images/learn.svg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Testing Fundamentals</a>
              </h4>
              <p class="card-text">Beta testing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item line-headDown">
          <div class="card h-100">
            <a href="/resources"><img class="card-img-top" src="../../static/images/learn.svg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Testing Fundamentals</a>
              </h4>
              <p class="card-text">Black box testing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item line-headDown">
          <div class="card h-100">
            <a href="/resources"><img class="card-img-top" src="../../static/images/learn.svg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Testing Fundamentals</a>
              </h4>
              <p class="card-text">Exploratory testing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item line-headDown">
          <div class="card h-100">
            <a href="/resources"><img class="card-img-top" src="../../static/images/learn.svg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Testing Fundamentals</a>
              </h4>
              <p class="card-text">Dev ops & QA</p>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}