{% extends 'TestBridgeApp/start.html' %}
{% block main %}


<!--div class="backsg">
    
</div-->


<div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('../../static/images/funcional.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Functional Testing</h3>
              <p>Structured and exploratory testing built for agile teams. </p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('../../static/images/test.JPG')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Test Automation</h3>
              <p>Move faster while avoiding traditional overhead</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('../../static/images/paytop.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Payment Testing</h3>
              <p>Test live payments anywhere.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
<div class="container">
        <div class="container">
                <h1 class="my-4 text-center line-head30">Crowdtesting with TestBridge</h1>
                
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center">What is Crowdtesting? </h1>
                        <p class="text-center">Crowdtesting, or crowdsourced testing, is a fast, cost effective way to continually deliver high quality software and great customer experiences. Crowdtesting uses a globally dispersed workforce of vetted, software professionals who test on their own devices. The distributed, on-demand nature provides unmatched scalability/elasticity, device coverage, and time-to-results when compared to traditional testing approaches. Crowdtesting is more than the new way; it’s the only way to scale testing in the modern SDLC, and is quickly becoming an integral best practice for many leading companies.</p>
                        <h2 class="text-center">Crowdtesting Return on Investment </h2>
                        <p class="text-center">As the leader in crowdtesting, our clients have seen substantial benefits, both in their product and engineering productivity, as well as their business(es) as a whole. Whether you’re looking to accelerate software development, greatly expand device coverage without additional costs, or get a true end-user perspective, crowdtesting is a perfect fit.</p>
                    </div>
                </div>
                <hr class="line-headUp">
                <div class="row mb-12">
                    <div class="col-md-12">
                        <h2 class="text-center">Explore Everything We Test </h2>
                        <p class="line-headDown">If your software runs on it, chances are we can test it. Our crowdsourced testing and feedback solutions scale from traditional web and mobile apps to emerging interfaces, like Voice and VR.</p>
                    </div>
                </div>
              </div>
</div>
{% endblock %}
