{% extends 'Devices/base.html' %}


{% block main %}
    

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Main</a>
    <a class="breadcrumb-item" href="{% url 'devices:devices' %}">Devices</a>
    <a class="breadcrumb-item" href="{% url 'devices:list' %}">List of devices</a>
    <span class="breadcrumb-item active">Details of the device</span>
</nav>
    
<br>
<h1>Details of the device</h1>
<br>

<h4>Name of device:</h4>
<p>{{devices.device}}</p>
<br>

<h4>Category:</h4>
<p>{{devices.category}}</p>
<br>

<h4>OS:</h4>
<p>{{devices.os}}</p>
<br>

<h4>Version:</h4>
<p>{{devices.version}}</p>
<br>

{% endblock main %}