{% extends 'base.html' %}


{% block main %}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'devices:list' %}">List of devices</a></li>
        <li class="breadcrumb-item"><span class="breadcrumb-item active">Device details</span></li>
    </ul>
</div>

<div class="col-md-12">
    <div class="tile">

        <br>
        <h1>Device details</h1>
        <br>

        <h4>Name of device:</h4>
        <p>{{devices.device}}</p>
        <br>
        
        <h4>Category:</h4>
        <p>{{devices.category}}</p>
        <br>
        
        <h4>OS:</h4>
        <p>{{devices.os}}</p>
        <br>
        
        <h4>OS Version:</h4>
        <p>{{devices.version}}</p>
        <br>

        <h4>Creation date:</h4>
        <p>{{devices.creationDate}}</p>
        <br>

        <h4>Update date:</h4>
        <p>{{devices.updatedDate}}</p>
        <br>


        <div class="tile-footer">
            <a class="btn btn-secondary" href="{% url 'devices:list' %}"><i class="fa fa-fw fa-lg fa-arrow-circle-left"></i>Back</a>
            <a class="btn btn-info ml-2" href="{% url 'devices:update' devices.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
        </div>

    </div>
</div>

{% endblock main %}