{% extends 'base.html' %}

{% block main %}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">List of bugs</a></li>
        <li class="breadcrumb-item"><span class="breadcrumb-item active">Edit bug</span></li>
    </ul>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="tile">
            <form method="post">
                <h3 class="tile-title">Edit bug</h3>
                <div class="tile-body">

                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                    {{hidden}}
                    {% endfor %}

                    <div class="form-group">
                        <label for="{{form.error_found.id_for_label}}" class="control-label">{{form.error_found.label}}</label>
                        {{form.error_found}}
                    </div>

                    <div class="form-group">
                        <label for="{{form.steps.id_for_label}}" class="control-label">{{form.steps.label}}</label>
                        {{form.steps}}
                    </div>

                    <div class="form-group">
                        <label for="{{form.screenshot.id_for_label}}" class="control-label">{{form.screenshot.label}}</label>
                        {{form.screenshot}}
                    </div>

                </div>
                <div class="tile-footer">
                    <button class="btn btn-primary" type="submit" name="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Edit</button>&nbsp;&nbsp;&nbsp;<a
                        class="btn btn-secondary" href="{% url 'bugs:list' %}"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main %}