{% extends 'base.html' %}


{% block main %}
<div class="row justify-content-center">
    <div class="clearfix"></div>
    <div class="col-md-8">
        <div class="tile">

        <br>
        <h1>Test details</h1>
        <br>

        <h4>Test Description:</h4>
        <p>{{test.name}}</p>
        <br>
        
        <h4>Functionality ID:</h4>
        <p>{{test.functionality_id}}</p>
        <br>
        
        <h4>Device ID:</h4>
        <p>{{test.device_id}}</p>
        <br>

        <div class="tile-footer">
            <a class="btn btn-secondary" href="{% url 'tests:list' %}"><i class="fa fa-fw fa-lg fa-arrow-circle-left"></i>Back</a>
        </div>
        </div>
    </div>
</div>

{% endblock main %}