{% extends 'index.html' %}


{% block contenido %}
    

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Pagina principal</a>
    <a class="breadcrumb-item" href="{% url 'dispositivos:dispositivos' %}">Menu dispositivos</a>
    <a class="breadcrumb-item" href="{% url 'dispositivos:lista' %}">Lista de dispositivos</a>
    <span class="breadcrumb-item active">Consulta</span>
</nav>
    
<br>
<h1>Dispositivo a detalle</h1>
<br>

<h4>Nombre del dispositivo:</h4>
<p>{{dispositivo.nombreDelDispositivo}}</p>
<br>

<h4>Categoria:</h4>
<p>{{dispositivo.categoria}}</p>
<br>

<h4>Sistema operativo:</h4>
<p>{{dispositivo.nombreDelDispositivo}}</p>
<br>

<h4>Version:</h4>
<p>{{dispositivo.version}}</p>
<br>

{% endblock contenido %}
    