{% extends 'index.html' %}

{% block contenido %}
<nav class="breadcrumb">
        <a class="breadcrumb-item" href="#">Pagina principal</a>
        <a class="breadcrumb-item" href="{% url 'dispositivos:dispositivos' %}">Menu dispositivos</a>
        <a class="breadcrumb-item" href="{% url 'dispositivos:lista' %}">Lista de dispositivos</a>
        <span class="breadcrumb-item active">Eliminar</span>
    </nav>
<br>

<div>    
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        
        <p class="align-center text-danger">¿Esta seguro que desea eliminar el dispositivo {{dispositivo.nombreDelDispositivo}} ?</p>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input class="btn btn-danger pull-right" type="submit" name="submit" value="Eliminar">
            </div>
        </div>
    </form>
</div>
{% endblock contenido %}