{% extends 'base.html' %}

{% block main %}

<form method="POST">
{{ formset.management_form }}
    <div class="row justify-content-center">

        {% for form in formset %}
            <div class="col-md-4">
                <div class="tile">
                    <br>
                    <h3>Functionality {{forloop.counter}}</h3>
                    <br>
                    {% csrf_token %}
                            
                    {{form.as_p}}
            
                </div>
            </div>
            {% endfor %}
            
    </div>

    <div class="row justify-content-center">
        <div class="col-md-3 ">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
        </div>
        <div class="col-md-3">
            <a class="btn btn-success btn-lg btn-block" href="{% url 'list' %}">Finish</a>
        </div>
    </div>
        
</form>

{% endblock main %}