{% extends 'base.html' %}


{% block main %}



<div class="row justify-content-center">
    <div class="clearfix"></div>
    <div class="col-md-8">
        <div class="tile">
            <h3 class="tile-title">List of projects</h3>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Project</th>
                        <th>Type</th>
                        <th colspan="3">Actions</th>
                    </thead>
                    <tbody>
                        {% for x in projects %}
                        <tr>
                            <td>{{x.project}}</td>
                            <td>{{x.type}}</td>
                            <td><a class="btn btn-secondary" href="{% url 'projects:query' x.id %}"><i class="fa fa-file-text-o"
                                        aria-hidden="true"></i>Details</a></td>
                            <td><a class="btn btn-info" href="{% url 'projects:functionalities' x.id %}"><i class="fa fa-list-alt"
                                            aria-hidden="true"></i>Functionalities</a></td>
                            <td><a class="btn btn-danger" href="{% url 'projects:delete' x.id %}"><i class="fa fa-times"
                                        aria-hidden="true"></i>Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock main %}