{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TestBridge</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/featherS.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/start_test.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mainsinavbar.css">
    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script src="/static/js/pcoded.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/menu-compact.js"></script>
</head>
<body style="background-color:#edf4f5" >  
    <div id="pcoded" class="pcoded iscollapsed" nav-type="st2" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="collapsed" vertical-effect="overlay" vnavigation-view="view1" fream-type="theme1" layout-type="light">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header iscollapsed" header-theme="themelight1" pcoded-header-position="fixed">
                <div class="navbar-wrapper">
                    <div class="navbar-logo" logo-theme="theme6">
                        <a href="/">
                            <img class="img-fluid2" src="/static/images/logoblanco.png" alt="TESTBRIDGE">
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <a class="mobile-menu" id="toggleSideBar" href="#!">
                                    <i class="icon-toggle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="full-screen icon-maximize"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li>
                                <span>
                                    <img src="/static//images/avatar.jpg" class="img-radius margin-imgs" alt="User-Profile-Image">
                                </span>
                                <span class="hvd4">{{ user.first_name }} {{ user.last_name }}</span>
                            </li>
                            <li>
                                <a href="{% url 'usersapp:user_profile' user.username %}">
                                    <i class="icon-settings"></i>
                                </a>
                            </li>
                            <li>
                                <a class="mobile-menu" href="{% url 'logout' %}">
                                    <i class="icon-log-out"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container" style="margin-top: 70.4px;">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar" navbar-theme="theme1" active-item-theme="theme1" sub-item-theme="theme2" 
                     active-item-style="style0" pcoded-navbar-position="fixed">
                        <div class="nav-list">
                            <div class="pcoded-inner-navbar main-menu">
                                <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="solid" subitem-border="false">
                                    <li class="">
                                        <a href="/home" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="icon-menu"></i>
                                            </span>
                                            <span class="pcoded-mtext">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-micon">
                                                    <i class="icon-devices"></i>
                                                </span>
                                                <span class="pcoded-mtext">Devices</span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="">
                                                    <a href="{% url 'devices:create' %}" class="waves-effect waves-dark">
                                                        <span class="pcoded-mtext">Register Device</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="{% url 'devices:list' %}" class="waves-effect waves-dark">
                                                        <span class="pcoded-mtext">Your Devices</span>
                                                    </a>
                                                </li>
                                            </ul>
                                    </li>
                                    <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-micon">
                                                    <i class="icon-projects"></i>
                                                </span>
                                                <span class="pcoded-mtext">Projects</span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="">
                                                    <a href="{% url 'projects:create' %}" class="waves-effect waves-dark">
                                                        <span class="pcoded-mtext">Register Project</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="{% url 'projects:list' %}" class="waves-effect waves-dark">
                                                        <span class="pcoded-mtext">Your Projects</span>
                                                    </a>
                                                </li>
                                            </ul>
                                    </li>
                                    <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                                        <a href="javascript:void(0)" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="icon-profile"></i>
                                            </span>
                                            <span class="pcoded-mtext">Profile</span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li class="">
                                                <a href="{% url 'usersapp:user_profile' user.username %}" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Profile</span>
                                                </a>
                                            </li>
                                            <!--li class="">
                                                <a href="{% url 'projects:list' %}" class="waves-effect waves-dark">
                                                    <span class="pcoded-mtext">Your Projects</span>
                                                </a>
                                            </li-->
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/contact" class="waves-effect waves-dark">
                                            <span class="pcoded-micon">
                                                <i class="icon-contactUs"></i>
                                            </span>
                                            <span class="pcoded-mtext">Contact Us</span>
                                        </a>
                                    </li>  
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <!--div class="page-header card">

                        </div>
                
                        <div class="pcoded-inner-content">
                        <div class="main-body">
                                <div class="page-wrapper">
                
                                    <div class="page-body">
                                        <div class="row">
                                                <div class="col-lg-12">

                                                        <div class="card">
                                                        <div class="card-block">
                                                        <span>
                                                        Sidebar Fixed layout is useful for those users who don't want header menu on top.
                                                        </span>
                                                        </div>
                                                        </div>
                                                        <div class="card">
                                                        <div class="card-header">
                                                        <h5>JS Option</h5>
                                                        </div>
                                                        <div class="card-block">
                                                        <span>To use Compact Menu for your project add <code><strong>FixedNavbarPosition: true, FixedHeaderPosition: false,</strong></code> class in js.</span>
                                                        </div>
                                                         </div>
                                                        <div class="card">
                                                        <div class="card-header">
                                                        <h5>HTML Markup</h5>
                                                        </div>
                                                        <div class="card-block">
                                                        <p>Use the following code to use <strong>Sidebar Layout</strong> in vertical.</p>
                                                        <h6 class="m-t-20 f-w-600">Usage:</h6>
                                                        <div class="prism-show-language"><div class="prism-show-language-label">Markup</div></div><pre class=" language-markup"><code class=" language-markup">$(<span class="token space"> </span>document<span class="token space"> </span>).ready(function()<span class="token space"> </span>{<span class="token lf">
                                                        </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span>$(<span class="token space"> </span>"#pcoded"<span class="token space"> </span>).pcodedmenu({<span class="token lf">
                                                        </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span>FixedNavbarPosition:<span class="token space"> </span>true,<span class="token lf">
                                                        </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span>FixedHeaderPosition:<span class="token space"> </span>false,<span class="token lf">
                                                        </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span><span class="token space"> </span>});<span class="token lf">
                                                        </span>});</code></pre>
                                                        </div>
                                                        </div>
                                                        <div class="card">
                                                        <div class="card-header">
                                                        <h5>Sample Block</h5>
                                                        <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                        <li><i class="icofont icofont-simple-left "></i></li>
                                                        <li><i class="icofont icofont-maximize full-card"></i></li>
                                                        <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                        <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                        <li><i class="icofont icofont-error close-card"></i></li>
                                                        </ul>
                                                        </div>
                                                        </div>
                                                        <div class="card-block">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                                                        1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor
                                                        at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                                                        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book
                                                        is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk
                                                        of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original
                                                        form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                                        </div>
                                                        </div>
                                                        
                                                    </div>
                <div class="col-lg-12">
                
                <div class="card">
                <div class="card-block">
                <span>
                Compact layout is useful for those who wants to see more description on page.
                </span>
                </div>
                </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </div-->
                        {% block main %}
          
                        {% endblock main %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>