{% extends 'base.html' %}{% block main %}
{% load i18n avatar_tags %}
<div class="row justify-content-center">								
    <div class="col-md-8">									
        <div class="tile">
            <div class="row justify-content-center">{% avatar user class="img-radius-profile" %}     
            </div>
            <hr style="height: 20px;background-color: transparent;border: 0px;margin: 0px">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin-bottom:0px">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% if not avatars %}
            <div class="row justify-content-center">   
                <h3 style="margin-top:20px">{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</h3>  
            </div>
            {% else %}
            <hr style="height: 20px;background-color: transparent;border: 0px;margin: 0px">
            <form method="POST" action="{% url 'avatar_change' %}">
                <div>
                    {{ primary_avatar_form }}
                </div>
                <div class="row justify-content-center">{% csrf_token %}
                    <input class="btnforinput" type="submit" value="{% trans "Choose new Default" %}" />
                </div>
            </form>
            {% endif %}
            <hr style="height: 20px;background-color: black;border: 0px">                            
            <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                {% csrf_token %}<input class="btnforinput" type="submit" value="{% trans "Upload New Image" %}" />
                <label class="btnforinput">{{ upload_avatar_form  }}</label>
            </form>
            <hr style="height: 20px;background-color: transparent;border: 0px">                        
        </div>
	</div>
</div>{% endblock %}