
    {% for x in avatars %}
    <tr>
        <p>Hola que hace</p>
        <img src="/media/{{x.avatar}}" style="height:80px;width: 80px">
    
    </tr>
    {% endfor %}



    <hr style="height: 20px;background-color: black;">    <hr style="height: 20px;background-color: black;">




    {% for radio in avatars %}
    <span>
        <img src="/media/{{radio.avatar}}" style="height:80px;width: 80px">
    </span>
    {% endfor %}



    <hr style="height: 20px;background-color: black;">    <hr style="height: 20px;background-color: black;">
 
