{% extends 'base.html' %}{% block main %}
<div class="row">
	<div class="col-lg-12">                
		<div class="card">                
			<div class="card-block">
				<div class="row justify-content-center">								
					<div class="col-md-8">									
						<div class="tile">										
							<form method="post"  enctype="multipart/form-data">											
								<h3 class="tile-title">Profile</h3>											
								<div class="tile-body">
									{% csrf_token %}							
									{% if request.user.is_authenticated and user_form.username.value == request.user.username %}
									{% if submitted %}
									<p class="success"> Your changes were submitted successfully. </p>
									{% endif %}
									{% csrf_token %}
									{{ user_form.as_p }}
									{{ profile_form.as_p }}
									<a href="{% url 'avatar_change' %}">Change your avatar</a><br><br>
									<a class="badge badge-dark" href="{% url 'usersapp:user_delete' user_form.username.value%}"> 
										Deactivate account
									</a>
									{% else %}
									u cannot edit that profile - its not yours...
									{% endif %}											
								</div>
								<div class="tile-footer">
									<button class="btn btn-primary" type="submit" name="submit">
										<i class="fa fa-fw fa-lg fa-check-circle"></i>
										Save
									</button>
									&nbsp;&nbsp;&nbsp;
									<a class="btn btn-secondary" href="/home">
										<i class="fa fa-fw fa-lg fa-times-circle"></i>
										Cancel
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>                
			</div>                
		</div>		
	</div>
</div>{% endblock %}
